{% extends "main_template.html" %}
{% load staticfiles %}
{% block headerContent %}
    <script src="{% static "javascript/form-validation.js"%}"></script>
{% endblock %}
{% block title %}Registration!{% endblock %}
{% block content %}
    <div class = "blog-masthead">
        <div class = "container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{% url "show_posts"%}">View All Posts!</a>
            </nav>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class = "userName">
            Hello, {{request.user.username}} <a href = "{% url "process_logout"%}">(logout)</a>
        </div>
    {% endif %}

    <div class = "container">
        <form class="form-signin" method="POST" action = "{% url "process_change_password" %}" onsubmit="return change_password_validation()">
            {% csrf_token %}
            <h2 class="form-signin-heading">Change Password:</h2> <hr/>
            <label for="old_password">Old Password:</label>
            <input class="form-control" id="old_password" name="old_password" type="password">
            <label for="user_password">Password:</label>
            <input class="form-control" id="user_password" name="user_password" type="password">
            <label for="user_password_verify">Verify Password:</label>
            <input class="form-control" id="user_password_verify" name="user_password_verify" type="password">
            <input class="btn btn-lg btn-primary btn-block" type="submit">
        </form>
        {% if message %}
            <p class="text-center text-danger">{{message}}</p>
        {% endif %}
        <p id = "change_password_error" class="text-center text-danger"></p>
    </div>
{% endblock %}