{% extends "main_template.html" %}
{% load staticfiles %}
{% block headerContent %}
    <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}"/>
{% endblock %}
{% block title %}Edit a Post!{% endblock %}
{% block content %}
    <div class = "blog-masthead">
        <div class = "container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{% url "show_posts"%}">View All Posts!</a>
            </nav>
        </div>
    </div>

    <div class = "container">
        <form class="form-signin" method= "POST" action = "{% url "process_edit_post"%}" >
            {% csrf_token %}
            <h2 class="form-signin-heading">Edit Your Post</h2>
            <label for="blogTitle">Post Title:</label>
            <input type="text" id="blogTitle" name="blogTitle" class="form-control" maxlength="50" size="50" value="{{post.blog_title}}" readonly>
            <label for="blogContent">Blog Content/Text:</label>
            <textarea class="form-control" rows="5" id="blogContent" name="blogContent">{{post.blog_content}}</textarea> <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Post</button>
            <input type="hidden" value="{{post.id}}" name="post_id">
        </form>
    </div>
{% endblock %}