{% extends "main_template.html" %}
{% block title %}Blog Posts!{% endblock %}
{% block content %}
     <div class = "blog-masthead">
        <div class = "container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{% url "show_posts"%}">View All Posts!</a>
                {% if request.user.is_authenticated %}
                    <a class="blog-nav-item active" href="{% url "show_add_post"%}">Make A Post!</a>
                    <a class="blog-nav-item active" href="{% url "show_change_password"%}">Change Password!</a>
                {% endif %}
            </nav>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class = "userName">
            Hello, {{request.user.username}} <a href = "{% url "process_logout"%}">(logout)</a>
        </div>
    {% else %}
        <div class = "userName">
            <a href= "{% url "show_login"%}">Login</a>
            |
            <a href= "{% url "show_registration"%}">Register</a>
        </div>
    {% endif %}

    <div class = "container">
        <div class="blog-header">
            {% if time %}
                <p class="current-time-text"><h2 class="current-time-border">{{time|linebreaksbr}}</h2></p>
            {% endif %}
            {% if message %}
                <p class="lead blog-description">
                    {{message}}
                </p>
            {% endif %}
            <h1 class="blog-title">Django Based Blog</h1>
            <p class="lead blog-description">This uses bootstrap styling and <b>Python</b> as the server-side programming language.<br/>
                I am using Python and Django to help with the authentication and management of logged in users along with other back-end functionality.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
            {% if posts %}
                {% for post in posts %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{% url "show_single_post"%}?post_id={{post.id}}">{{post.blog_title}}</a>
                        </h2>
                        <p class="blog-post-meta"> Written by {{post.blog_author.username}} on {{post.blog_date_created}} ({{post.blog_time_since_post_creation}})</p>
                        {% if post.blog_date_created != post.blog_date_modified %}
                            <p class="blog-post-meta"> Last modified by {{post.blog_author.username}} on {{post.blog_date_modified}} ({{post.blog_time_since_post}})</p>
                        {% endif %}
                        <pre><code>{{post.blog_content}}</code></pre>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-sm-8 blog-main">
                        <hr/>
                        <pre><code>Blog has no posts :(.</code></pre>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}